node_modules/
.vs/
pnpm-lock.yaml
package-lock.json
Compiled_From_Typescript_Into_Javascript/*
!Compiled_From_Typescript_Into_Javascript/.gitkeep
!Compiled_From_Typescript_Into_Javascript/tests/*
tsconfig.tsbuildinfo